body {
    background-color: goldenrod;

}

#renseign {

    display: block;

    align-items: center;
    width: 800px;
    height: 100px;
    margin-left: 0%;
    margin-top: 3em;

}


#form1 {
    width: 1200px;
    height: 400px;
    display: flex;
    margin-bottom: 3em;
    text-align: center;
    margin-left: 400px;
}

#name {
    margin-top: 15px;
    width: 50%;
    text-align: center;
}

#mail {
    margin-top: 15px;
    width: 50%;
    text-align: center;
}

#objet {
    margin-top: 15px;
    width: 50%;
    text-align: center;
}

#msg {
    margin-top: 15px;
    width: 50%;
    height: 150px;

}

#bouton {
    margin-left: -800px;
    margin-top: 350px;
}

/* ******** Grand ecran ******** */
@media all and (max-width: 1050px) {


    form {
        margin: auto;
    }


}

/* ******* TELEPHONE ******** */
@media all and (max-width: 720px) {
    #form1 {
        margin-left: -150px;
    }

    #boxnav {
        display: none;
    }

    #menuBur {
        display: block !important;
    }

    #navigation {

        padding-top: 1%;
        padding-bottom: 1%;
    }

    .logo {
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .logoA {
        position: relative;
        margin: auto;
        align-items: center;
    }

    .titrePrincipal {
        display: none;
    }

}